<div class="input-group" ng-if="multipleX">
    <ui-select multiple ng-if="!options.nested" ng-model="params.Model" ng-required="required" close-on-select="true" theme="bootstrap" ng-disabled="!enabled" reset-search-input="true">
        <ui-select-match placeholder="{{ options.placeholder }}">
            <span ng-bind-html="GetDisplayText($item)"></span>
        </ui-select-match>
        <ui-select-choices repeat="p in options.data | filter: $select.search" refresh="Search($select.search)" refresh-delay="800">
            <div ng-bind-html="GetText(p)"></div>
        </ui-select-choices>
    </ui-select>
    <ui-select multiple ng-if="options.nested" ng-model="params.Model" ng-required="required" close-on-select="true" theme="bootstrap" ng-disabled="!enabled" reset-search-input="true">
        <ui-select-match placeholder="{{ options.placeholder }}">
            <span ng-bind-html="GetDisplayText($item)"></span>
        </ui-select-match>
        <ui-select-choices group-by="options.groupBy" repeat="p in options.data | filter: $select.search" refresh="Search($select.search)" refresh-delay="800">
            <div ng-bind-html="GetText(p)"></div>
        </ui-select-choices>
    </ui-select>
    <div class="input-group-btn ui-select-button">
        <button type="button"  class="btn btn-default" tooltip="{{ 'Yeni' }}" ng-show="options.AllowAdding" ng-click="AddItem()" ng-disabled="!enabled || options.DisableAdd"><i class="fa fa-plus"></i></button>
        <button type="button"  ng-show="!options.IsLoading" ng-click="params.Model = options.AllowEmptyModel ? null : params.Model " class="btn btn-default" ng-disabled="params.Model==null || params.Model.length == 0|| !enabled || !options.AllowEmptyModel"><i class="fa fa-trash"></i></button>
        <span ng-show="options.IsLoading" class="btn btn-default">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
</div>

<div class="input-group" ng-if="!multipleX">
    <ui-select ng-model="params.Model" ng-required="required" theme="bootstrap" close-on-select="true" ng-disabled="!enabled" reset-search-input="true">
        <ui-select-match placeholder="{{ options.placeholder }}">
            <span ng-bind-html="GetDisplayText($select.selected)"></span>
        </ui-select-match>
        <ui-select-choices repeat="p in options.data | filter: $select.search" refresh="Search($select.search)" refresh-delay="800">
            <div ng-bind-html="GetText(p)"></div>
        </ui-select-choices>
    </ui-select>
    <div class="input-group-btn ui-select-button">
        <button type="button" class="btn btn-default" ng-show="options.AllowAdding" tooltip="{{ 'Yeni' }}" ng-click="AddItem()" ng-disabled="!enabled || options.DisableAdd"><i class="fa fa-plus"></i></button>
        <button  type="button" ng-show="!options.IsLoading" ng-click="params.Model = options.AllowEmptyModel ? null : params.Model" class="btn btn-default" ng-disabled="params.Model==null || !enabled || !options.AllowEmptyModel"><i class="fa fa-trash"></i></button>
        <span ng-show="options.IsLoading" class="btn btn-default">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
</div>